@use "@/app/globals" as g;

.profile-manage-page {
  display: flex;
  min-height: calc(100vh - g.$header-height);
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: #141414;

  h2 {
    font-size: 3rem;
    font-weight: 700;
  }
}
