@import "tailwindcss";

/* 공통 */
// COLOR
$main-color: #e50914;
$bg-color: #141414;

/* header */
$header-height: 60px;
$main-menu-width: 60px;
$main-menu-color: #8a8a88;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
video {
  max-width: 100%;
  vertical-align: middle;
}

address,
em,
i {
  font-style: none;
}

.blind {
  position: absolute;
  top: -9999px;
}

body {
  overflow-x: hidden;
  color: #fff;
  font-size: 16px;
  background-color: var(--bg-color);
}

.inner {
  width: 1600px;
  margin: 0 auto;
}

main {
  padding-top: var(--header-height);
  padding-left: var(--main-menu-width);
}

.flex-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
