header{
    position: fixed;
    top: 0;
    z-index: 99999;
    height: var(--header-height);
    width: 100%;
    padding: 5px 10px;
    color: var(--main-menu-color);
    background-color: #11110F;

    .inner{
        height: 100%;
    }
}

.mode-menu{
    >li{
        cursor: pointer;
    }
}

.gnb-menu{
    padding-right: 20px;
    >li{
        display: flex;
        align-items: center;
    }
}

nav{
    width: var(--main-menu-width);
    position: fixed;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    text-align: center;
    color: var(--main-menu-color);
    background-color: #11110F;

    .main-menu{
        >li{
            margin-top: 20px;
        }
    }

    img{
        margin: auto;
    }
    span{
        font-size: 0.7em;
    }
}