@use "@/app/globals" as g;

footer {
  position: relative;
  padding-left: g.$main-menu-width;
  background: g.$d-color;
  padding-bottom: 50px;

  &::before {
    content: "";
    display: block;
    width: 100%;
    aspect-ratio: 1920 / 150;
    background-color: g.$bg-color;
    background-image: url("/images/footer/footer-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .footer-sns {
    display: flex;
    /* justify-content: space-around; */
    gap: 15px;
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;

    img {
      filter: brightness(0) invert(1);
    }
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;

    > div > p {
      margin-bottom: 10px;
      font-weight: 600;
      color: g.$w-color;
    }

    .content-list {
      font-size: g.$text-14;
      color: g.$main-menu-color;
      > li {
        margin-bottom: 5px;
      }
    }
  }
}
